    {% if site.footer_fixed %}
    <footer class="fixed-bottom wow fadeInDown">
      <div class="container mt-0">
        <!-- &copy; Created {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}. {{ site.footer_text }} -->
        &copy; Martin A. He, 2021-22.  {{ site.footer_text }}
        {%- if site.impressum_path -%}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
        {%- endif -%}
        <br />
        {%- if site.last_updated -%}
        Last updated: {{ "now" | date: '%B %d, %Y at ' }}.
        {%- endif %}
      </div>
      <script src="https://vjs.zencdn.net/7.20.3/video.min.js"></script>
    </footer>
    {%- else -%}
    <footer class="sticky-bottom mt-5 wow fadeIn" data-wow-delay="0.5s">
      <div class="container" style="font-weight:600;">
        <!-- &copy; Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}. {{ site.footer_text }} -->
        &copy; Thomas Andrews, Jamie Carr, Jonte Catton, Denis Donskikh, Martin He, Laura Hollister. <br />{{ site.footer_text }}
        {%- if site.impressum_path -%}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
        {%- endif -%}
        <br />
        <!-- <p id = "pickaquote" class = "wow fadeIn"></p> -->
        {%- if site.last_updated -%}
        Last updated: {{ "now" | date: '%B %d, %Y' }}.
        {%- endif %}
        <!-- <input type="button" id = "snowToggle" style="font-family:Inter,sans-serif; font-weight:600;display: inline-block; cursor: pointer; border: none; z-index:5; background:none; color:#FF375F;" value="Toggle Winter Mode" onclick="snowStorm.toggleSnow();togglePlay(); darkThemeLogo(localStorage.getItem('theme'));">
        <audio id="myAudio" src="/assets/music/chaise_longue.m4a" preload="auto" loop></audio> -->
        <br /><br />
        <form action="{{ site.baseurl }}/search.html" method="get" id="search-ui">
          <!-- <label for="search-box">Search: </label> -->
          <input type="text" class="search-box" name="query" placeholder="Search site..." target="">
          <button type="submit">
            <i class="fas fa-search"></i>
          </button>
          <!-- <input type="submit" value="🔍" id="search-button"> -->
        </form>

      </div>
      <script src="https://vjs.zencdn.net/7.20.3/video.min.js"></script>
    </footer>
    {%- endif %}