        <style>
          #selected-posts h4{
            font-weight: 600;
          }
          #selected-posts p{
            font-weight: 300;
          }
        </style>
        
        <div class="publications wow fadeInUp">
            <h2 style="font-weight:800;">selected posts</h2>
            <ul style="list-style-type:none;" id="selected-posts">
              <li><h4><a href="/blog/2022/russia-economic-sanctions/">Have Economic Sanctions Backfired?</a></h4></li>
              <p class="post-meta" style="margin-bottom: 1rem;">
                15 min read &nbsp; &middot; &nbsp;
                September 5, 2022
              </p>
              <li><h4><a href="/blog/2016/vaccinations/">Why Vaccinations Should Not Be Made Mandatory</a></h4></li>
              <p class="post-meta" style="margin-bottom: 1rem;">
                27 min read &nbsp; &middot; &nbsp;
                December 11, 2016
              </p>
              <li><h4><a href="/blog/2022/liz-truss/">In Liz We Truss</a></h4></li>
              <p class="post-meta" style="margin-bottom: 1rem;">
                8 min read &nbsp; &middot; &nbsp;
                August 30, 2022
              </p>
            </ul>
          </div>