        <style>
          #selected-posts h4{
            font-weight: 600;
          }
          #selected-posts p{
            font-weight: 300;
          }
        </style>
        
        <div class="publications wow fadeInUp">
            <h2 style="font-weight:800;">Release Notes</h2>
            <ul style="list-style-type:none;" id="selected-posts">
              <li><h4><a href="/blog/2022/">Added Google Maps API successfully!</a></h4></li>
              <p class="post-meta" style="margin-bottom: 1rem;">
                15 min read &nbsp; &middot; &nbsp;
                September 5, 2022
              </p>

              <li><h4><a href="/blog/2022/">Website Launched!</a></h4></li>
              <p class="post-meta" style="margin-bottom: 1rem;">
                15 min read &nbsp; &middot; &nbsp;
                September 5, 2022
              </p>
            </ul>
          </div>